
language: php

git:
  depth: 5

php:
    - 7.0

before_script:
    - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then phpenv config-rm xdebug.ini; fi;

install:
    - composer self-update
    - composer install

script:
    - vendor/bin/phpunit
